
.casino-bg{


width:90vw;

height:85vh;


max-width:1600px;

max-height:900px;


background:

linear-gradient(
rgba(0,0,0,.25),
rgba(0,0,0,.55)
),

url(
"https://i.postimg.cc/1XwMyGKQ/IMG-7110.png"
);


background-size:100% 100%;


display:flex;

flex-direction:column;


overflow:hidden;


}





.casino-top{

height:25%;

min-height:140px;

display:grid;


grid-template-columns:
repeat(5,1fr);


align-items:center;


padding:30px 80px 0;


}


.casino-item img{


width:clamp(
90px,
12vw,
180px
);


height:auto;


object-fit:contain;


transition:.2s;


}



.casino-item:hover img{


transform:scale(1.08);


}




.casino-player{


display:flex;


flex-direction:column;


align-items:center;


color:white;


}




.player-name{


font-size:22px;


margin-bottom:5px;


}




.player-avatar-frame{


width:150px;
height:150px;
}


background:url(
"https://i.postimg.cc/prRxMs2j/IMG-7106.png"
);


background-size:contain;


background-repeat:no-repeat;


display:flex;


justify-content:center;

align-items:center;


}



.player-avatar{


width:90px;

height:90px;


border-radius:50%;


object-fit:cover;


}



.player-money{


color:#ffd700;


font-size:22px;


margin-top:-10px;


}




.casino-stage{


flex:1;


display:flex;


justify-content:center;


align-items:center;


}




.casino-message{

font-size:clamp(
20px,
3vw,
36px
);


color:white;


text-shadow:

0 5px 10px black;


}




.casino-bottom{

height:18%;

min-height:100px;

display:grid;


grid-template-columns:
repeat(4,1fr);


padding:0 100px 30px;


align-items:center;


}
