.casino-inner{

width:100%;
height:100%;

}


.casino-bg{

width:100%;
height:100%;


display:flex;

flex-direction:column;


background:#111;

}



/* 顶部五格 */

.casino-top{

height:180px;


display:grid;


grid-template-columns:

repeat(5,1fr);


align-items:center;


padding:20px 40px;


box-sizing:border-box;


}




.casino-item{


background:none;

border:0;

padding:0;


display:flex;

justify-content:center;

align-items:center;


cursor:pointer;


}




.casino-item img{


width:120px;

height:120px;


object-fit:contain;


}





/* 玩家 */


.casino-player{


display:flex;

flex-direction:column;


align-items:center;


}



.player-name{


font-size:16px;

color:white;


}




.player-avatar-frame{


width:100px;

height:100px;


border-radius:50%;


background:#333;


display:flex;

justify-content:center;

align-items:center;


overflow:hidden;


}



.player-avatar{


width:80px;

height:80px;


object-fit:cover;


}




.player-money{


color:#ffd700;

font-size:16px;


}



/* 中间 */

.casino-stage{


flex:1;


display:flex;

align-items:center;

justify-content:center;


}




.casino-message{


font-size:28px;

color:white;


}




/* 底部 */

.casino-bottom{


height:120px;


display:grid;


grid-template-columns:

repeat(4,1fr);


align-items:center;


padding:0 80px 20px;


box-sizing:border-box;


}



.casino-bottom .casino-item img{


width:130px;

height:90px;


object-fit:contain;


}
