#silly-casino-root{

position:fixed;

inset:0;

z-index:2147483647;

pointer-events:none;

}



.casino-orb{


position:fixed;


right:40px;

bottom:40px;


width:100px;

height:100px;


border:0;

padding:0;


background-image:url(
"https://i.postimg.cc/dVLjqnXs/IMG-7085.png"
);


background-size:contain;


background-repeat:no-repeat;


background-position:center;


cursor:grab;


pointer-events:auto;


background-color:transparent;


}




.casino-orb:active{

cursor:grabbing;

}




.casino-panel{


position:fixed;


inset:0;


display:none;


align-items:center;


justify-content:center;


background:rgba(0,0,0,.5);


pointer-events:auto;


}



.casino-panel.show{


display:flex;


}




.casino-window{


width:1600px;


height:900px;


background:#111;


border-radius:20px;


color:white;


display:flex;


align-items:center;


justify-content:center;


font-size:50px;


}
