#mg-orb{

position:fixed;

right:30px;

bottom:120px;

width:64px;

height:64px;

z-index:99999;

touch-action:none;

}


#mg-orb img{

width:100%;

height:100%;

}



#mg-window{

position:fixed;

right:40px;

bottom:120px;

width:360px;

background:#111;

border:2px solid #d4af37;

border-radius:20px;

padding:20px;

color:white;

z-index:99998;

}



.mg-header{

display:flex;

justify-content:space-between;

font-size:22px;

color:#ffd700;

}



.mg-header button{

background:none;

color:white;

border:0;

font-size:24px;

}



.mg-chip{

font-size:32px;

text-align:center;

color:#ffd700;

margin:20px;

}



.mg-menu{

display:grid;

grid-template-columns:1fr 1fr;

gap:10px;

}



.mg-menu button{

height:70px;

background:#222;

border:1px solid #d4af37;

color:white;

border-radius:10px;

}
